body{
display: flex;
flex-direction: column;
padding: 0%;
margin:0%; 
height: 100vh;
}

.nummer{
 display: flex;
gap: 54px;
margin-left:100px;
}

.bokstaver{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.box{
display:flex;
background-color:maroon;
width: 800px ;
height:800px ;
align-items: center;
justify-content: center;
}

.innebox{
 display: flex;
 align-items: row;
 justify-content: center;
}

.block1{
background-color: black;
width: 60px;
height: 60px;
}

.block2{
background-color:white;
width: 60px;
height: 60px;
}
