body{
padding: 0%;
margin: 0%;    
height: 100vh;

}

.nummer{
 display: flex;
 gap: 54px;
 margin-left: 110px;
}

.bokstaver{
display: flex;
align-items: center;
flex-direction: column;
margin-left: -500px;
}

.box{
margin-top: -600px;
display:flex;
background-color:maroon;
width: 800px ;
height:800px ;
justify-content: center;
align-items: center;
}

.innebox{
 display: flex;
 align-items: row;
}

.block1{
background-color: black;
width: 60px;
height: 60px;
}

.block2{
background-color:white;
width: 60px;
height: 60px;
}
